<!DOCTYPE html>
<html>
<head>
    <title>Register - CineMind AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="auth-container">

    <div class="auth-card">

        <h1>🎬 CineMind AI</h1>

        <h2>Create Account</h2>

        <p>Join CineMind AI Today</p>

        <form action="/register" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Full Name"
                required>

            <input
                type="email"
                name="email"
                placeholder="Email"
                required>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            <button type="submit">
                Register
            </button>

        </form>

        <p class="bottom-text">
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</div>

</body>
</html>